h1 {
    color: rgb(200, 255, 0);
   border-color: rgb(0, 0, 0) seashell;
    font-style: italic;
    font-weight: 900;
    margin-left: 5%;
    margin-top: -10%;


}
body {
  background-image: url(image/Jan&angela.jpg);
  background-position-x: center;
   background-size: 550px;
   background-repeat: no-repeat;
   background-color: rgba(1, 87, 90, 0.884);
   margin-top: 0%;
   margin-left: 0;
   margin-right: 0%;
   


}
.box {
    background-color: rgba(140, 241, 140, 0.925);
    
    width: 19rem;
    margin: 5px ;
    margin-top: -61%;
    padding: 18px;
    font-size: 150%;
    height: 1212;
    border-radius: 5%;
   
}

.menu {
    width: 100px;
    float:corner-present;
    height: 80px;


}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left: 33px;
    margin-top: 27px;
    font-size: 20px;
}
ul li a{
    text-decoration: none;
    color: #000000;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
    
}
ul li a:hover{
    color: rgba(7, 228, 118, 0.849);
  font-style: italic;
  
   
   

}

.box-1 {
    margin: 11px;
    margin-left: 21rem;
    margin-right: 0%;
    margin-top: 0%;
    float: left;
    padding-left: 0%;
    font-size: 333%;
    height: 12;
}
.box-2 {
    background-color: rgb(2, 10, 80);
    
    width: 20rem;
    margin:10px ;
    margin-top: 4%;
    padding: 10px;
    font-size: 150%; 
    color: crimson;
    align-items: center;
   
  
    
}
.box-3{
    background-color: rgba(3, 90, 83, 0);
    
    width: 25rem;
    margin:375px ;
    margin-top: -25%;
    padding: 6rem;
    color: rgba(249, 250, 246, 0);
}


.icons:hover {
        opacity: 0.1;
    }
    
    .fa-facebook {
      background: #ecf0ec;
      color: rgb(242, 248, 244);
} 

.Video {

    width: 30%;
    height:auto;
    margin: 1%;
    margin-top: 10%;
}

  
